---
http_interactions:
- request:
    method: get
    uri: http://mergeatron.dev-be-aws.net:3306/config
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - ! '"-1618218809"'
    body:
      encoding: US-ASCII
      string: ! '{"github":{"ci_user":"bejudged","repositories":["aws","bevarnish"]},"jenkins":{"has_global_trigger_token":true,"projects":[{"name":"branch-cookbook-aws","repo":"aws","has_trigger_token":true},{"name":"branch-cookbook-bevarnish","repo":"bevarnish","has_trigger_token":false}],"push_projects":[]}}'
  recorded_at: Mon, 02 Jun 2014 20:27:17 GMT
recorded_with: VCR 2.9.2
